/*
|--------------------------------------------------------------------------
| HEADER
|--------------------------------------------------------------------------
*/

.header {
  background-color: #111827;
  color: white;
  padding: 1rem 2rem;
}

/*
|--------------------------------------------------------------------------
| CONTENEDOR HEADER
|--------------------------------------------------------------------------
*/

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/*
|--------------------------------------------------------------------------
| LOGO
|--------------------------------------------------------------------------
*/

.logo {
  font-size: 1.5rem;
}

/*
|--------------------------------------------------------------------------
| NAVBAR
|--------------------------------------------------------------------------
*/

.navbar {
  display: flex;
  gap: 1rem;
}

/*
|--------------------------------------------------------------------------
| LINKS NAVBAR
|--------------------------------------------------------------------------
*/

.navbar a {
  color: white;
  font-weight: bold;
}

.navbar a:hover {
  opacity: 0.8;
}

/*
|--------------------------------------------------------------------------
| HEADER RIGHT
|--------------------------------------------------------------------------
*/

.header-right {
  display: flex;
  align-items: center;
  gap: 1rem;
}

/*
|--------------------------------------------------------------------------
| LANGUAGE SWITCHER
|--------------------------------------------------------------------------
*/

.language-switcher {
  display: flex;
  gap: 0.5rem;
}

.language-switcher button {
  border: none;
  padding: 0.5rem 0.8rem;
  cursor: pointer;
  border-radius: 5px;
  font-weight: bold;
}

.language-switcher button:hover {
  opacity: 0.9;
}